<template>
  <div>
    <div class="navbar_main-logo">
      <div class="navbar_main-logo-item">
        <img src="../assets/logo.png" width="30" height="30" alt="" />
      </div>
      <div v-if="isUser" class="navbar_main-logo-item avatar__item">
        <a-avatar>
          <template #icon><UserOutlined /></template>
        </a-avatar>
        <span class="navbar_main-logo-item"> {{ isUser.userName }}</span>
      </div>
    </div>
    <a-menu mode="horizontal" class="navbar_main">
      <a-menu-item key="registration" @click="toRegistration" v-if="!isUser"
        >Зарегистрироваться</a-menu-item
      >
      <a-menu-item key="login" @click="toLogin" v-if="!isUser"
        >Войти</a-menu-item
      >
      <a-menu-item key="logout" @click="handleLogout" v-if="isUser"
        >Выход</a-menu-item
      >
    </a-menu>
    <!-- {{ isUser ? true : false }} -->
    <router-view></router-view>
    <a-modal
      v-model:visible="visible"
      title="Title"
      :confirm-loading="confirmLoading"
      @ok="handleOk"
    >
      <p>{{ modalText }}</p>
    </a-modal>
  </div>
</template>
<script lang="ts">
import { ref, defineComponent, computed, onMounted } from "vue";
import { useRouter, RouteLocationNormalizedLoaded } from "vue-router";
import { useStore } from "vuex";
import { delLocalStorage, getLocalStorage } from "@/utils/localStorage";
import { UserOutlined } from "@ant-design/icons-vue";
import { getRequestOnRefresh } from "@/utils/fetch";
export default defineComponent({
  components: { UserOutlined },
  setup() {
    const router = useRouter();
    const store = useStore();
    const modalText = ref<string>("Content of the modal");
    const visible = ref<boolean>(false);
    const confirmLoading = ref<boolean>(false);
    onMounted(async () => {
      if (getLocalStorage(process.env.VUE_APP_LOCAL_STORAGE_KEY)) {
        const user = JSON.parse(
          getLocalStorage(process.env.VUE_APP_LOCAL_STORAGE_KEY)
        );
        const data = await getRequestOnRefresh(user.email, user.token);
        if (!data) {
          delLocalStorage(process.env.VUE_APP_LOCAL_STORAGE_KEY);
          return router.push({ name: "home" });
        }
        store.dispatch("setUser", user);
        router.push({
          name: "user",
          params: { user: `${store.getters.getUser.email}` },
        });
      } else {
        router.push({ name: "home" });
      }
    });
    const handleOk = () => {
      modalText.value = "The modal will be closed after two seconds";
      confirmLoading.value = true;
      setTimeout(() => {
        visible.value = false;
        confirmLoading.value = false;
        delLocalStorage(process.env.VUE_APP_LOCAL_STORAGE_KEY);
        store.dispatch("delUser");
        router.push({ name: "home" });
      }, 2000);
    };
    const isUser = computed(() => {
      return store.getters.getUser;
    });
    const current = ref(["registration"]);
    const toLogin = () => {
      router.push({ name: "login" });
    };
    const toRegistration = () => {
      router.push({ name: "registration" });
    };
    const handleLogout = () => {
      visible.value = true;
    };
    return {
      current,
      toLogin,
      toRegistration,
      isUser,
      visible,
      handleLogout,
      modalText,
      confirmLoading,
      handleOk,
    };
  },
});
</script>
<style>
.avatar__item {
  display: flex;
}
.navbar_main-logo {
  height: 46px;
  width: 46px;
  left: 0;
  position: absolute;
  display: flex;
}
.navbar_main-logo-item {
  align-self: center;
  margin-left: 10px;
}
.navbar_main {
  /* display: flex; */
  justify-content: flex-end;
}
</style>
