<template>
  <div v-for="(note, idx) in notes" :key="idx" class="card__blog--wrapper">
    <div v-for="item in note.usersId" :key="item.id">
      <div class="card__blog">
        <p class="note__email">{{ note.email }}</p>
        <div class="blog__message">
          {{ item.noteId.textMessage }}
        </div>

        <div class="blog__message-img-wrapper">
          <hr />
          <div class="blog__img-wrapper">
            <img
              class="img__item"
              :src="`data:${item.noteId.attachFile.mimetype}; base64, ${item.noteId.attachFile.buffer}`"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, computed, onMounted, ref } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  setup() {
    const store = useStore();
    const notes = ref([]);
    const checkUser = computed(() => {
      return store.getters.getUser;
    });
    onMounted(async () => {
      const response = await fetch("http://localhost:3001/api/user/notes");
      const data = await response.json();
      notes.value = data;
    });
    return {
      notes,
    };
  },
});
</script>
<style>
.card__blog {
  /* text-align: left; */
  height: auto;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
  border: 1px solid rgba(128, 128, 128, 0.144);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note__email {
  /* position: absolute; */
  margin: 0;
  text-align: left;
}

.blog__img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin: 5px;
  width: 110px;
  height: 60px;
  border: 1px solid rgba(188, 193, 196, 0.897);
  border-radius: 5px;
  box-shadow: 2px 0px 12px rgba(182, 190, 192, 0.521);
}
.img__item {
  object-fit: contain;
  width: 100px;
  height: 50px;
  padding: 0;
  box-shadow: 2px 2px 12px rgba(1, 154, 192, 0.192);
  border-radius: 1px;
}
/* .blog__message-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
} */
.blog__message {
  border: 1px solid gray;
  width: auto;
}
hr {
  width: 80%;
  padding: 0;

  height: 0;

  border: none;

  border-top: 1px solid rgba(88, 86, 86, 0.397);
}
</style>
