<template>
  <a-modal
    v-model:visible="visible"
    title="Title"
    :confirm-loading="confirmLoading"
    @ok="handleOk"
  >
    <p>{{ modalText }}</p>
  </a-modal>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  props: { isVisible: { type: Boolean } },
  emits: ["modalClose"],
  setup(props, { emit }) {
    const modalText = ref<string>("Content of the modal");
    const visible = ref<boolean>(false);
    const confirmLoading = ref<boolean>(false);
    const handleOk = () => {
      modalText.value = "The modal will be closed after two seconds";
      confirmLoading.value = true;
      setTimeout(() => {
        visible.value = false;
        confirmLoading.value = false;
      }, 2000);
    };
    return {
      modalText,
      visible,
      confirmLoading,
      handleOk,
    };
  },
});
</script>
