<template>
  <div class="login_wrapper">
    <a-input
      v-model:value="email"
      placeholder="Email"
      style="margin: 4px 0px 4px 0px"
    />
    <a-input-password
      v-model:value="password"
      placeholder="Пароль"
      style="margin: 4px 0px 6px 0px"
    />
    <a-button type="primary" @click="handleLoginClick" :loading="isLoading"
      >Войти</a-button
    >
    <p>
      Нет аккаунта?
      <router-link to="/registration">Зарегистрироваться</router-link>
    </p>
  </div>
</template>
<script>
import { ref } from "@vue/reactivity";
import { addLocalStorage } from "@/utils/localStorage";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { postRequestToRegOrLogin } from "@/utils/fetch";

export default {
  setup() {
    const router = useRouter();
    const store = useStore();
    const isLoading = ref(false);
    const email = ref("");
    const password = ref("");
    const isFilledFields = ref(false);
    const handleLoginClick = async () => {
      isLoading.value = true;
      const body = {
        email: email.value,
        password: password.value,
      };
      const data = await postRequestToRegOrLogin(body, "login");
      if (!data) {
        isLoading.value = false;
        return;
      }
      store.dispatch("setUser", {
        token: data.token,
        email: data.email,
        userName: data.userName,
      });
      addLocalStorage(
        process.env.VUE_APP_LOCAL_STORAGE_KEY,
        JSON.stringify({
          token: data.token,
          email: data.email,
          userName: data.userName,
        })
      );
      isLoading.value = false;
      router.push({ name: "user", params: { user: email.value } });
    };
    return {
      email,
      password,
      handleLoginClick,
      isLoading,
      isFilledFields,
    };
  },
};
</script>
<style></style>
